
body {
  margin: 0;
  background: #a4a4a4;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(70, 61, 79);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.header {
  background: rgb(17, 17, 17);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  padding: 8px;  
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 900;
  font-style: bold;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rgb(172, 172, 172);
}

ul {
  color: whitesmoke;
  margin: 0;
  padding: 15px;
  gap: 26px;
}
.left, .right {
  display: flex;
  align-items: center;
  gap: 50px;
}
h1, h2{
  color: white;
}

h1{
  font-size: 50px;
  text-align: center;
}

/* Body of the web */


.about{
  height: 900px;
  background-color: #a4a4a4;
}

.downloadbut {
    background-color: rgb(13, 104, 13);
    padding: 12%;
    margin: -15%;
    border-radius: 6%;
}
.header ul{
  display: flex;
  list-style: none;
}
p{
  color: white;
  padding: 30px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 30px;
}
.heroimage{
  height: auto;
  width: 500px;
}

.hero{
  background-color: black;
  background-attachment: fixed;

  background-image: url(https://images.pexels.com/photos/7641148/pexels-photo-7641148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 700px;
}
.content{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  padding-top: -30px;
  background-color: rgba(67, 67, 67, 0.745);
  border-radius: 25px;
}
.contentcol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.551);
  width: 500px;
}
.about{
  height: 700px;
  background-color: #2b2b2b;
}
.about .contentcol, .download .contentcol{
  width: 800px;
  border-radius: 25px;

}
.download .contentcol{
  align-self: center;

}
.contentcol ul{
  list-style: disc;
  font-size: 30px;
  padding: 25px;
  margin-left: 30px;
}
.rev{
  height: 700px;
  background-color: rgb(21, 0, 54);
}
.download{
  background-color: black;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/7640905/pexels-photo-7640905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: fixed;
  opacity: 0.8;
}

.download h1{
  background-color: black;
  padding: 50px;

}
h2{
  margin-left: 10px;
}
.about h1{
  background-image: url(https://images.pexels.com/photos/3069345/pexels-photo-3069345.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  padding: 25px;
}